* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #000;
  min-height: 20vh;
}

h1 {
  color: #fff;
  font-size: 3rem;
}

h2 {
  color: #fff;
  font-size: large;
}